body {
    text-align: center;
    background: rgb(228, 219, 223);
        background: radial-gradient(circle, rgb(230, 213, 220) 0%, rgb(241, 186, 234) 100%);
       
    font-size:25px;
}

#inputText {
    
    width: 595px;
    padding: 15px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
    
    
}

.taskText {
    padding: 5px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 595px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    
}


.fa-trash-alt{
    position: absolute;
    padding-left: 15%;
    opacity: 60%;
    font-size: 20px;
    color:gray;
    cursor: pointer;
    left: 950px;
    margin-top: 13px;
}

 .fa-trash-alt:hover {
    cursor: pointer;
    opacity: 100%;
    color: black;

 }